[user]
	email = aureliarsaber@gmail.com
	name = Aurelia Saber

[push]
	autoSetupRemote = true

[alias]
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	sync = fetch --all -Pp

[core]
	editor = nvim

[rebase]
	updateRefs = true

[core]
    	pager = delta

[include]
	path = /home/aurelia/.config/delta/themes/catppuccin.gitconfig

[delta]
	features = catppuccin-macchiato
	side-by-side = true

[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
